
a {text-decoration: none;}
ul, li { 
    list-style:none;
    padding: 0;
    margin: 0;
}

.pager{background-color: #f6f9fa !important;}
.header-logo{background-color: #fff !important ;}
.searchbox{margin: 0 !important;}
.nav-item{display:block !important;}
.nav-link{
	padding: 0.5rem !important;
	margin: 0 1rem !important;
}

.navbar li a{
    padding-bottom: 0.5rem !important;
}

.navbar li a:hover{
    color: #f00;
    padding-bottom: 0.4rem !important ;
	border-bottom: 0.1rem solid #f00 ;
}
.navbar li button{
    border: none;
    background-color: #f8f9fa;
    color: #007bff;

}
.navbar li button:hover{
    color:#f00;
    padding-bottom: 0.4rem !important ;
	border-bottom: 0.1rem solid #f00 ;
}

.headingcate{
    /* //border-top: 1px solid #c4c4c4; */
    border-bottom: 1px solid #c4c4c4;
    display:block !important;
    color:#6d6d6d;
}

.heading{
    border-bottom: 1px solid #c4c4c4;

    color:#6d6d6d;
}
.deatildesc{
    border-bottom: 1px solid #c4c4c4;
}

.heading5{
    border-bottom: 1px solid #c4c4c4;
}
.pricetag{
    color:#f00;
}
.pricenew{
    margin:0px !important;
}
li.active>a{
    color: #f00;
    padding-bottom: 0.4rem !important ;
	border-bottom: 0.1rem solid #f00 ;
}
a.activepage{
    color:red !important;
}

.footer{
    background-color:#c7c7ff;
}