body{
    font-family: sans-serif; 
    font-size: 13px;
}
a {text-decoration: none;}
ul, li { list-style:none;}
/* header */
.pager{background-color: #f6f9fa !important;}
.header-logo{background-color: #fff !important ;}
.searchbox{margin: 0 !important;}
.nav-item{display:block !important;}
.nav-link{
	padding: 0.5rem !important;
	margin: 0 1rem !important;
}

.navbar li a{
    padding-bottom: 0.5rem !important;
}

.navbar li a:hover{
    color: #f00;
    padding-bottom: 0.4rem !important ;
	border-bottom: 0.1rem solid #f00 ;
}
.navbar li button{
    border: none;
    background-color: #f8f9fa;
    color: #007bff;

}
.navbar li button:hover{
    color:#f00;
    padding-bottom: 0.4rem !important ;
	border-bottom: 0.1rem solid #f00 ;
}