<footer class="page-footer font-small pt-5 mt-3 footer">

  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Cửa hàng thể thao</h5>
        <p>Liên hệ với chúng tôi </p>

      </div>
      <!-- Grid column -->

  

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Liên hệ</h5>

        <ul class="list-unstyled">
          <li>
            <p>Số Điện thoại: 190010021</p>
          </li>
          <li>
            <p>Số Điện thoại: 190010021</p>
          </li>
          <li>
            <p>Email: NoEmail@test.example.com  </p>
          </li>
          <li>
            <p>Email: NoEmail@test.example.com  </p>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">FACEBOOK</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div> 
  <div class="footer-copyright text-center py-3">Non-Copyright
  </div>


</footer>
</body>

</html>