<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>HT Sport </title>
    <link rel="stylesheet" type="text/css" href="./css/homestyle.css" />
    <link rel="stylesheet" type="text/css" href="./css/grid.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Product-bar-->
    <nav class="navbar navbar-expand-md navbar-inverse sticky-top bg-light">
        <div class="container-fluid"><a class="navbar-branch" href="#"><img src="image/logo.png" height="60"/></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAuth"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarProductBar">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="#">H&agrave;ng m&#x1EDB;i</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Qu&#x1EA7;n &Aacute;o</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">C&#x1EA7;u l&ocirc;ng</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">B&oacute;ng &dstrok;&aacute;</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tenis</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Gi&agrave;y d&eacute;p</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Thi&#x1EBF;t b&#x1ECB; t&#x1EAD;p</a></li>
                    <!--Searchinput-->
                    <li class="search-query nav-item">
                        <form class="form-inline" action="" method="get"><input class="form-control mr-3" type="text" name="q" placeholder="Tìm kiếm..." /><button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-search"></i></button></form>
                    </li>
                    <!--Shop-cart-btn    -->
                    <li class="nav-item"><a class="ml-3" href="#"><button class="btn btn-primary btn-lg"><i class="fas fa-shopping-cart"></i></button></a></li>
                </ul>
            </div>
        </div>
    </nav>