<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>HT Sport </title>
    <link rel="stylesheet" type="text/css" href="./css/homestyle.css" />
    <link rel="stylesheet" type="text/css" href="./css/grid.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Product-bar-->
    <% var catekeys = Object.keys(cates); %>
    <% var count = 0;%>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
        <div class="container-fluid">
            <a class="navbar-branch" href="/">
                <img src="/image/logo.png" height="60"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <% catekeys.forEach(function(cate){ count++;%>
                    <%if(count <= 7) {%>
                    <li class="nav-item  nav-cate"><a class="nav-link" href="/<%= cates[cate].namekodau%>.<%= cates[cate].id%>"><%= cates[cate].name%></a></li>
                    <%}});%>
                    <!-- <li class="nav-item active"><a class="nav-link" href="#">TEST</a></li> -->
                    <!--Searchinput-->
                    <li class="search-query nav-item">
                        <form class="form-inline" action="/search" method="get">
                            <input class="form-control mr-sm-2" type="text" name="q" placeholder="Tìm kiếm..." />
                            <button class="btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                    <!--Shop-cart-btn    -->
                    <li class="nav-item"><button class="btn btn-primary my-2 my-sm-0" onclick="window.location.href='/cart'"><i class="fas fa-shopping-cart"></i></button></li>
                </ul>
            </div>
        </div>
    </nav>