
#featured.row.mt-40
  .container
    h1.heading1
      span.maintext Loai San Pham
      span.subtext  See Our Most featured Products
    ul.thumbnails
      li.span2
        a.prdocutname(href='#') ProductName
        .thumbnail
          a.imgproduct(href='#')
            img(alt='', src='./image/carouse0.jpg')
          .descristion
            p  Giay the thao hot
          .pricetag
            .price
              .pricenew 100000000
block products