    #slide.carousel.slide.mr-5.ml-5(data-ride='carousel')
        // Indicators
        ul.carousel-indicators
            li.active(data-target='#slide', data-slide-to='0')
            li(data-target='#slide', data-slide-to='1')
            li(data-target='#slide', data-slide-to='2')
        // The slideshow
        .carousel-inner
            .carousel-item.active
                img(src='/image/carousel0.jpg', width='1100', height='500')
            .carousel-item
                img(src='/image/carousel1.jpg', width='1100', height='500')
            .carousel-item
                img(src='/image/carousel2.jpg', width='1100', height='500')
        // Left and right controls
        a.carousel-control-prev(href='#slide', data-slide='prev')
            span.carousel-control-prev-icon
        a.carousel-control-next(href='#slide', data-slide='next')
            span.carousel-control-next-icon
block slide         