<%- include ('../playout/header.ejs') -%>
<form action="/cates/addcate" method="POST">
    <div class="form-group">
        <label for="category">Lo&#x1EA1;i h&agrave;ng</label>
        <input id="category" class="form-control" type="text" placeholder="Nhập loại mặt hàng" name="name" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<%- include ('../playout/footer.ejs') -%>