<%- include ('../playout/header.ejs') -%>
<div class="container">   
    <% if(errors) { %>
        <% errors.forEach(function(e){ %>
    <div class="alert alert-danger">
        <%= e%>    
    </div>
    <%});%>
    <% };%>
    <div class="row">
        <form action="" method="POST">
            <div class="form-group">
                <label for="category">Lo&#x1EA1;i h&agrave;ng</label>
                <input id="category" class="form-control" type="text" placeholder="Nhập loại mặt hàng" name="name", value=<%= data.name%> />
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
            
        </form>
        <form action="/cates/listcates" method="GET">
            
        </form>

    </div> 
    
</div>
<%- include ('../playout/footer.ejs') -%>