<%- include ('../playout/header.ejs') -%>
<div class="d-flex justify-content-around">
    <h1>Danh s&aacute;ch lo&#x1EA1;i m&#x1EB7;t h&agrave;ng</h1>
    <div> </div><button class="btn btn-primary" onclick="window.location.href='/cates/addcate'">Thêm</button></div>
<table class="display table table-hover" id="example">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Name Kh&ocirc;ng D&#x1EA5;u</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#">Xo&aacute;</a> | <a href="#">S&#x1EED;a</a></td>
        </tr>
    </tbody>
</table>


<%- include ('../playout/footer.ejs') -%>