extends ../layouts/headeradmin 

block headeradmin
    .d-flex.justify-content-around
        h1 Danh s&aacute;ch lo&#x1EA1;i m&#x1EB7;t h&agrave;ng
        div   
        button.btn.btn-primary(onclick="window.location.href='/cates/addcate'") Thêm
    table#example.display.table.table-hover
        thead
            tr
                th ID
                th Name
                th Name Kh&ocirc;ng D&#x1EA5;u
                th Action
        tbody
            tr
                td
                td
                td
                td
                    a(href='#') Xo&aacute;
                    |  | 
                    a(href='#') S&#x1EED;a

