<%- include ('../playout/header.ejs') -%>
<div class="d-flex justify-content-around">
    <h1>Danh s&aacute;ch &dstrok;&#x1A1;n h&agrave;ng</h1>
    <div> </div><button class="btn btn-primary" onclick="window.location.href='/cates/addcate'">Thêm</button></div>
<table class="display table table-hover" id="example">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="#">Xem</a> | <a href="#">Xo&aacute;</a>
            </td>
        </tr>
    </tbody>
</table>
<%- include ('../playout/footer.ejs') -%>