extends ../layouts/headeradmin 

block headeradmin
    .d-flex.justify-content-around
        h1 Danh s&aacute;ch &dstrok;&#x1A1;n h&agrave;ng
        div   
        button.btn.btn-primary(onclick="window.location.href='/cates/addcate'") Thêm
    table#example.display.table.table-hover
        thead
            tr
                th ID
                th Name
                th Action
        tbody
            tr
                td
                td
                td
                td
                    a(href='#') Xem;
                    |  | 
                    a(href='#') Xo&aacute;

